[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = dylan-gonzalez
	email = dylcg10@gmail.com
[credential]
	helper = store
[core]
	editor = notepad
